/* Button related styles */
button {
  width: 25%;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 3px solid var(--border-color);
  box-shadow: 3px 3px 0 var(--border-color);
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

button:hover {
  transform: translate(-1px, -1px);
}

button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 var(--border-color);
}

.nbtl-button {
  width: 25%;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  color: var(--font-color);
  background-color: var(--primary-color);
  border: 3px solid var(--border-color);
  box-shadow: 3px 3px 0 var(--border-color);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.nbtl-button:hover {
  transform: translate(-1px, -1px);
  box-shadow: 4px 4px 0 var(--border-color);
}

.nbtl-button:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 var(--border-color);
}

.clear-button {
  color: var(--font-color);
  cursor: pointer;
  transition: transform 0.1s ease;
}

.clear-button:hover {
  transform: translate(1px, 1px);
  box-shadow: -2px -2px 0 var(--border-color);
}
