/* Article related styles */
article {
  position: relative;
  background-color: var(--background-color);
  border: 3px solid var(--border-color);
  padding: 20px;
  box-shadow: 6px 6px 0 var(--border-color);
}

article>header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 10;
  border: none;
  border-bottom: 3px solid var(--border-color);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

article>footer {
  position: sticky;
  bottom: 0;
  background-color: var(--background-color);
  z-index: 10;
  border: none;
  border-top: 3px solid var(--border-color);
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  margin-right: -20px;
}
