.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  width: fit-content;
  background-color: var(--primary-color);
  color: var(--font-color);
  border: var(--border-size-default) solid var(--border-color);
  box-shadow: var(--box-shadow-size-default) var(--box-shadow-size-default) 0 var(--border-color);
  padding: 10px 20px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.dropdown-button:hover {
  transform: translate(-1px, -1px);
}

.dropdown-button:active {
  transform: translate(2px, 2px);
  box-shadow: calc(var(--box-shadow-size-default) / 3) calc(var(--box-shadow-size-default) / 3) 0 var(--border-color);
}

.dropdown-content {
  position: absolute;
  background-color: var(--background-color);
  min-width: 160px;
  border: var(--border-size-default) solid var(--border-color);
  box-shadow: var(--box-shadow-size-default) var(--box-shadow-size-default) 0 var(--border-color);
  z-index: 1;
  padding: 10px 0;
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s ease;
}

.dropdown-content * {
  display: block;
  width: fit-content;
  font-weight: bold;
  font-family: var(--font-family);
  background-color: var(--background-color);
  transition: background-color 0.3s, transform 0.1s ease;
}

.dropdown:hover .dropdown-content {
  display: flex;
  visibility: visible;
  opacity: 1;
}
