/* Loading related styles */
.loading-dots {
  font-weight: bold;
}

.loading-dots::after {
  content: "...";
  display: inline-block;
  width: 0;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots 1s infinite steps(4, end);
}

@keyframes dots {
  0%   { width: 0; }
  25%  { width: .4em; }
  50%  { width: .8em; }
  75%  { width: 1.2em; }
}

.loading-dots.fade-out {
  opacity: 0;
}

.loading-dots.hidden {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
