/* Scrollbar related styles */
::-webkit-scrollbar {
  cursor: default;
  width: 12px;
}

::-webkit-scrollbar-track {
  cursor: default;
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  cursor: default;
  background-color: var(--primary-color);
  border-radius: 4px;
  border: 3px solid var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  cursor: default;
  background-color: var(--secondary-color);
}
